<div class="l-application pt-3">
  <%= render HeaderComponent.new %>

  <main class="c-main mt-5 u-container-narrow">
    <h1 class="fw-bolder mb-0 text-center">
      ブログ
    </h1>

    <article class="gap-3 py-5 vstack">
      <% @posts.each do |post| %>
        <div>
          <div class="small text-muted">
            <%= display_time(post.published_at, format: :long_without_time) %>
          </div>

          <div>
            <%= link_to post.title, post_path(post.slug), class: "fw-bold" %>
          </div>
        </div>
      <% end %>
    </article>
  </main>

  <%= render FooterComponent.new %>
</div>
