<div class="l-application">
  <%= render HeaderComponent.new %>

  <main class="c-main u-container-narrow">
    <div class="vstack gap-3">
      <% @posts.each do |post| %>
        <div>
          <div class="text-muted">
            <%= display_time(post.published_at, format: :long_without_time) %>
          </div>

          <div>
            <%= link_to post.title, post_path(post.slug), class: "fw-bold text-decoration-none" %>
          </div>
        </div>
      <% end %>
    </div>
  </main>

  <%= render FooterComponent.new %>
</div>
