<div class="l-application pt-3">
  <%= render HeaderComponent.new %>

  <main class="c-main mt-3 u-container-narrow">
    <div class="gap-3 pb-5 pt-3 vstack">
      <% @posts.each do |post| %>
        <div>
          <div class="small text-muted">
            <%= display_time(post.published_at, format: :long_without_time) %>
          </div>

          <div>
            <%= link_to post.title, post_path(post.slug), class: "fw-bold" %>
          </div>
        </div>
      <% end %>
    </div>
  </main>

  <%= render FooterComponent.new %>
</div>
