<footer class="c-footer py-4 text-center text-white">
  <div class="u-container-narrow">
    <%= image_tag "shimbaco.jpg", class: "rounded-circle", size: "100x100" %>

    <h1 class="display-6 fw-bold">
      Shimba, Koji

      <div class="h5 c-footer__username">
        @shimbaco
      </div>
    </h1>

    <div class="justify-content-center row">
      <div class="col">
        <%= link_to "https://annict.com/@shimbaco", rel: "noopener", target: "_blank" do %>
          <%= image_tag "annict.jpg", class: "rounded", size: "30x30" %>
        <% end %>
      </div>

      <div class="col"></div>

      <div class="col"></div>
    </div>

    <div>
      個人でWebサービスを運営したりしているソフトウェアエンジニアです。
      <br>
      趣きのあるアニメの聖地を訪れるのが好き。
    </div>
  </div>

  <div class="px-4 text-end">
    <%= link_to "Admin", admin_path, class: "text-white" %>
  </div>
</footer>
