.profile-component
  text-align: center

  .name
    font-size: 40px

  .description
    line-height: 1.8
    margin: 15px 0 40px 0

  .separator
    separator()

  ul.services
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none
    padding-left: 0

    li
      display: inline-block
      justify-content: center
      width: 110px

      a
        color: rgba(0, 0, 0, 0.44)
        display: inline-block

        &:hover
          text-decoration: none

          i.fa-twitter-square
            color: #55acee

          i.fa-github-square
            color: #333333

          i.fa-instagram
            color: #884b37

          i.fa-flickr
            color: #f50083

          i.fa-pinterest-square
            color: #d01e15

          i.fa-tumblr-square
            color: #2c4762

        i
          color: rgba(0, 0, 0, 0.65)
          display: block;
          font-size: 40px
          transition: color 0.2s
          transition-timing-function: ease-in-out


        span
          font-size: 14px
