<div class="p-introduction text-center">
  <img src="{% asset avatar.jpg @path %}" width="100" height="100" class="p-introduction__avatar rounded-circle mb-2">
  <h2 class="p-introduction__name h1">Koji Shimba</h2>
  <p class="c-body mb-4">
    Webエンジニアをやってます。Railsなどを使ってWebアプリを作っていて、「<a href="https://jp.annict.com" target="_blank">Annict (アニクト)</a>」というアニメ視聴記録サービスを個人で運営しています。 <br>
    趣きのあるアニメの聖地を訪れて余韻に浸るのが好き。
  </p>
  <div class="p-introduction__links container">
    <div class="row">
      <div class="col">
        <a href="https://jp.annict.com/@shimbaco" target="_blank">
          <div class="p-introduction__annict-logo">
            <img src="{% asset annict.jpg @path %}" width="35" height="35" class="rounded">
          </div>
          <div class="small">Annict</div>
        </a>
      </div>
      <div class="col">
        <a href="https://twitter.com/shimbaco" target="_blank">
          <i class="fab fa-twitter-square"></i>
          <div class="small">Twitter</div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/shimbaco" target="_blank">
          <i class="fab fa-github-square"></i>
          <div class="small">GitHub</div>
        </a>
      </div>
      <div class="col">
        <a href="https://www.instagram.com/shimbaco" target="_blank">
          <i class="fab fa-instagram"></i>
          <div class="small">Instagram</div>
        </a>
      </div>
      <div class="col">
        <a href="https://www.pinterest.com/shimbaco" target="_blank">
          <i class="fab fa-pinterest-square"></i>
          <div class="small">Pinterest</div>
        </a>
      </div>
    </div>
  </div>
</div>
