.home
  .container
    padding: 80px 0

    .separator
      margin: 45px 0 40px -40px

    h1
      font-size: 30px
      margin-bottom: 30px
      text-align: center

    table.posts
      border-collapse: collapse
      border-spacing: 0
      margin-top: -10px
      width: 100%

      tbody
        tr
          word-break: break-all

          th
            color: rgba(0, 0, 0, 0.6);
            padding: 15px
            text-align: right
            width: 30%

          td
            padding: 15px
            width: 70%

      li
        display: flex
        justify-content: center
        margin-bottom: 20px

        .date
          margin-right: 40px
          text-align: right
          width: 120px
