$s-color-github: #333333;
$s-color-twitter: #1da1f2;

$s-colors: (
  's-github': $s-color-github,
  's-twitter': $s-color-twitter,
  'tw-slate-50': $tw-slate-50,
  'tw-slate-100': $tw-slate-100,
  'tw-slate-200': $tw-slate-200,
  'tw-slate-300': $tw-slate-300,
  'tw-slate-400': $tw-slate-400,
  'tw-slate-500': $tw-slate-500,
  'tw-slate-600': $tw-slate-600,
  'tw-slate-700': $tw-slate-700,
  'tw-slate-800': $tw-slate-800,
  'tw-slate-900': $tw-slate-900,
  'tw-gray-50': $tw-gray-50,
  'tw-gray-100': $tw-gray-100,
  'tw-gray-200': $tw-gray-200,
  'tw-gray-300': $tw-gray-300,
  'tw-gray-400': $tw-gray-400,
  'tw-gray-500': $tw-gray-500,
  'tw-gray-600': $tw-gray-600,
  'tw-gray-700': $tw-gray-700,
  'tw-gray-800': $tw-gray-800,
  'tw-gray-900': $tw-gray-900,
  'tw-zinc-50': $tw-zinc-50,
  'tw-zinc-100': $tw-zinc-100,
  'tw-zinc-200': $tw-zinc-200,
  'tw-zinc-300': $tw-zinc-300,
  'tw-zinc-400': $tw-zinc-400,
  'tw-zinc-500': $tw-zinc-500,
  'tw-zinc-600': $tw-zinc-600,
  'tw-zinc-700': $tw-zinc-700,
  'tw-zinc-800': $tw-zinc-800,
  'tw-zinc-900': $tw-zinc-900,
  'tw-neutral-50': $tw-neutral-50,
  'tw-neutral-100': $tw-neutral-100,
  'tw-neutral-200': $tw-neutral-200,
  'tw-neutral-300': $tw-neutral-300,
  'tw-neutral-400': $tw-neutral-400,
  'tw-neutral-500': $tw-neutral-500,
  'tw-neutral-600': $tw-neutral-600,
  'tw-neutral-700': $tw-neutral-700,
  'tw-neutral-800': $tw-neutral-800,
  'tw-neutral-900': $tw-neutral-900,
  'tw-stone-50': $tw-stone-50,
  'tw-stone-100': $tw-stone-100,
  'tw-stone-200': $tw-stone-200,
  'tw-stone-300': $tw-stone-300,
  'tw-stone-400': $tw-stone-400,
  'tw-stone-500': $tw-stone-500,
  'tw-stone-600': $tw-stone-600,
  'tw-stone-700': $tw-stone-700,
  'tw-stone-800': $tw-stone-800,
  'tw-stone-900': $tw-stone-900,
  'tw-red-50': $tw-red-50,
  'tw-red-100': $tw-red-100,
  'tw-red-200': $tw-red-200,
  'tw-red-300': $tw-red-300,
  'tw-red-400': $tw-red-400,
  'tw-red-500': $tw-red-500,
  'tw-red-600': $tw-red-600,
  'tw-red-700': $tw-red-700,
  'tw-red-800': $tw-red-800,
  'tw-red-900': $tw-red-900,
  'tw-orange-50': $tw-orange-50,
  'tw-orange-100': $tw-orange-100,
  'tw-orange-200': $tw-orange-200,
  'tw-orange-300': $tw-orange-300,
  'tw-orange-400': $tw-orange-400,
  'tw-orange-500': $tw-orange-500,
  'tw-orange-600': $tw-orange-600,
  'tw-orange-700': $tw-orange-700,
  'tw-orange-800': $tw-orange-800,
  'tw-orange-900': $tw-orange-900,
  'tw-amber-50': $tw-amber-50,
  'tw-amber-100': $tw-amber-100,
  'tw-amber-200': $tw-amber-200,
  'tw-amber-300': $tw-amber-300,
  'tw-amber-400': $tw-amber-400,
  'tw-amber-500': $tw-amber-500,
  'tw-amber-600': $tw-amber-600,
  'tw-amber-700': $tw-amber-700,
  'tw-amber-800': $tw-amber-800,
  'tw-amber-900': $tw-amber-900,
  'tw-yellow-50': $tw-yellow-50,
  'tw-yellow-100': $tw-yellow-100,
  'tw-yellow-200': $tw-yellow-200,
  'tw-yellow-300': $tw-yellow-300,
  'tw-yellow-400': $tw-yellow-400,
  'tw-yellow-500': $tw-yellow-500,
  'tw-yellow-600': $tw-yellow-600,
  'tw-yellow-700': $tw-yellow-700,
  'tw-yellow-800': $tw-yellow-800,
  'tw-yellow-900': $tw-yellow-900,
  'tw-lime-50': $tw-lime-50,
  'tw-lime-100': $tw-lime-100,
  'tw-lime-200': $tw-lime-200,
  'tw-lime-300': $tw-lime-300,
  'tw-lime-400': $tw-lime-400,
  'tw-lime-500': $tw-lime-500,
  'tw-lime-600': $tw-lime-600,
  'tw-lime-700': $tw-lime-700,
  'tw-lime-800': $tw-lime-800,
  'tw-lime-900': $tw-lime-900,
  'tw-green-50': $tw-green-50,
  'tw-green-100': $tw-green-100,
  'tw-green-200': $tw-green-200,
  'tw-green-300': $tw-green-300,
  'tw-green-400': $tw-green-400,
  'tw-green-500': $tw-green-500,
  'tw-green-600': $tw-green-600,
  'tw-green-700': $tw-green-700,
  'tw-green-800': $tw-green-800,
  'tw-green-900': $tw-green-900,
  'tw-emerald-50': $tw-emerald-50,
  'tw-emerald-100': $tw-emerald-100,
  'tw-emerald-200': $tw-emerald-200,
  'tw-emerald-300': $tw-emerald-300,
  'tw-emerald-400': $tw-emerald-400,
  'tw-emerald-500': $tw-emerald-500,
  'tw-emerald-600': $tw-emerald-600,
  'tw-emerald-700': $tw-emerald-700,
  'tw-emerald-800': $tw-emerald-800,
  'tw-emerald-900': $tw-emerald-900,
  'tw-teal-50': $tw-teal-50,
  'tw-teal-100': $tw-teal-100,
  'tw-teal-200': $tw-teal-200,
  'tw-teal-300': $tw-teal-300,
  'tw-teal-400': $tw-teal-400,
  'tw-teal-500': $tw-teal-500,
  'tw-teal-600': $tw-teal-600,
  'tw-teal-700': $tw-teal-700,
  'tw-teal-800': $tw-teal-800,
  'tw-teal-900': $tw-teal-900,
  'tw-cyan-50': $tw-cyan-50,
  'tw-cyan-100': $tw-cyan-100,
  'tw-cyan-200': $tw-cyan-200,
  'tw-cyan-300': $tw-cyan-300,
  'tw-cyan-400': $tw-cyan-400,
  'tw-cyan-500': $tw-cyan-500,
  'tw-cyan-600': $tw-cyan-600,
  'tw-cyan-700': $tw-cyan-700,
  'tw-cyan-800': $tw-cyan-800,
  'tw-cyan-900': $tw-cyan-900,
  'tw-sky-50': $tw-sky-50,
  'tw-sky-100': $tw-sky-100,
  'tw-sky-200': $tw-sky-200,
  'tw-sky-300': $tw-sky-300,
  'tw-sky-400': $tw-sky-400,
  'tw-sky-500': $tw-sky-500,
  'tw-sky-600': $tw-sky-600,
  'tw-sky-700': $tw-sky-700,
  'tw-sky-800': $tw-sky-800,
  'tw-sky-900': $tw-sky-900,
  'tw-blue-50': $tw-blue-50,
  'tw-blue-100': $tw-blue-100,
  'tw-blue-200': $tw-blue-200,
  'tw-blue-300': $tw-blue-300,
  'tw-blue-400': $tw-blue-400,
  'tw-blue-500': $tw-blue-500,
  'tw-blue-600': $tw-blue-600,
  'tw-blue-700': $tw-blue-700,
  'tw-blue-800': $tw-blue-800,
  'tw-blue-900': $tw-blue-900,
  'tw-indigo-50': $tw-indigo-50,
  'tw-indigo-100': $tw-indigo-100,
  'tw-indigo-200': $tw-indigo-200,
  'tw-indigo-300': $tw-indigo-300,
  'tw-indigo-400': $tw-indigo-400,
  'tw-indigo-500': $tw-indigo-500,
  'tw-indigo-600': $tw-indigo-600,
  'tw-indigo-700': $tw-indigo-700,
  'tw-indigo-800': $tw-indigo-800,
  'tw-indigo-900': $tw-indigo-900,
  'tw-violet-50': $tw-violet-50,
  'tw-violet-100': $tw-violet-100,
  'tw-violet-200': $tw-violet-200,
  'tw-violet-300': $tw-violet-300,
  'tw-violet-400': $tw-violet-400,
  'tw-violet-500': $tw-violet-500,
  'tw-violet-600': $tw-violet-600,
  'tw-violet-700': $tw-violet-700,
  'tw-violet-800': $tw-violet-800,
  'tw-violet-900': $tw-violet-900,
  'tw-purple-50': $tw-purple-50,
  'tw-purple-100': $tw-purple-100,
  'tw-purple-200': $tw-purple-200,
  'tw-purple-300': $tw-purple-300,
  'tw-purple-400': $tw-purple-400,
  'tw-purple-500': $tw-purple-500,
  'tw-purple-600': $tw-purple-600,
  'tw-purple-700': $tw-purple-700,
  'tw-purple-800': $tw-purple-800,
  'tw-purple-900': $tw-purple-900,
  'tw-fuchsia-50': $tw-fuchsia-50,
  'tw-fuchsia-100': $tw-fuchsia-100,
  'tw-fuchsia-200': $tw-fuchsia-200,
  'tw-fuchsia-300': $tw-fuchsia-300,
  'tw-fuchsia-400': $tw-fuchsia-400,
  'tw-fuchsia-500': $tw-fuchsia-500,
  'tw-fuchsia-600': $tw-fuchsia-600,
  'tw-fuchsia-700': $tw-fuchsia-700,
  'tw-fuchsia-800': $tw-fuchsia-800,
  'tw-fuchsia-900': $tw-fuchsia-900,
  'tw-pink-50': $tw-pink-50,
  'tw-pink-100': $tw-pink-100,
  'tw-pink-200': $tw-pink-200,
  'tw-pink-300': $tw-pink-300,
  'tw-pink-400': $tw-pink-400,
  'tw-pink-500': $tw-pink-500,
  'tw-pink-600': $tw-pink-600,
  'tw-pink-700': $tw-pink-700,
  'tw-pink-800': $tw-pink-800,
  'tw-pink-900': $tw-pink-900,
  'tw-rose-50': $tw-rose-50,
  'tw-rose-100': $tw-rose-100,
  'tw-rose-200': $tw-rose-200,
  'tw-rose-300': $tw-rose-300,
  'tw-rose-400': $tw-rose-400,
  'tw-rose-500': $tw-rose-500,
  'tw-rose-600': $tw-rose-600,
  'tw-rose-700': $tw-rose-700,
  'tw-rose-800': $tw-rose-800,
  'tw-rose-900': $tw-rose-900
);
