.profile-component
  img.circle(src="/images/avatar.jpg", width="120", height="120")
  .name Koji Shimba
  .description
    | 渋谷でエンジニアをやってます。RailsやNode.jsを使ってWebアプリを作っていて、<br>
    | 「#[a(href="http://www.annict.com", target="_blank") Annict (アニクト)]」というアニメ視聴記録サービスを個人で運営しています。<br>
    | 趣きのある聖地を訪れて余韻に浸るのが好き。
  ul.services
    li
      a(href="https://twitter.com/shimbaco", target="_blank")
        i.fa.fa-twitter-square
        span Twitter
    li
      a(href="https://github.com/shimbaco", target="_blank")
        i.fa.fa-github-square
        span GitHub
    li
      a(href="https://instagram.com/shimbaco", target="_blank")
        i.fa.fa-instagram
        span Instagram
    li
      a(href="https://www.flickr.com/photos/bojovs", target="_blank")
        i.fa.fa-flickr
        span Flickr
    li
      a(href="https://www.pinterest.com/shimbaco/", target="_blank")
        i.fa.fa-pinterest-square
        span Pinterest
    li
      a(href="http://shimbaco.tumblr.com", target="_blank")
        i.fa.fa-tumblr-square
        span Tumblr
  .separator
