@import 'variables/tailwind';
@import 'variables/shimbaco';
@import 'variables/bootstrap';

@import 'bootstrap/scss/bootstrap';

@import 'utilities/text';

html {
  font-size: 18px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.l-application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .c-main {
    flex: 1;
  }

  .c-footer {
    background-color: $tw-gray-700;
  }
}

.u-container-narrow {
  @include make-container();

  max-width: 700px;
}

.c-header {
  &__title {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.c-profile-links {
  .fa-brands {
    font-size: 30px;
  }
}

.c-post-body {
  img {
    display: block;
    margin: auto;
  }
}
