// Color system

$primary: #ff8e6e;
$secondary: #ffbb91;

// Spacing

$spacer: 1rem;
$spacers: (
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 2,
);

// Body
$body-bg: #373a40;
$body-color: #f6f6f6;

// Components

$border-radius: 0.3rem;

// Typography

$hr-border-color: rgba(#ffffff, 0.2);
$text-muted: rgba($body-color, 0.7);

// Cards

$card-border-color: unset;
// $card-bg: #14274e;
$card-color: #f6f6f6;

@import 'bootstrap/scss/bootstrap';

@media (min-width: 992px) {
  .container {
    max-width: 700px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  letter-spacing: 0.03rem;
}

.c-profile {
  background: rgb(88, 92, 99);
  background: linear-gradient(
    150deg,
    rgba(88, 92, 99, 1) 10%,
    rgba(109, 112, 117, 1) 100%
  );

  a.text-body:hover {
    color: $link-color !important;
  }
}
