<% content_for "page_title" do %>
  記事一覧 | shimba.co
<% end %>

<div class="m-auto u-narrow">
  <h1 class="h4 fw-bold mb-3">
    記事一覧
  </h1>

  <%= render "src/views/components/post_list.ecr" %>
</div>
